<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1722.45" targetFramework="net48" />
</packages>